.messages-list-container {
  flex-grow: 1;
  padding: 20px;
  overflow-y: auto;
  display: flex;
  flex-direction: column;
}

.loading-indicator {
  padding: 10px 15px;
  border-radius: 18px;
  max-width: 30%;
  margin-bottom: 10px;
  background-color: #2a2a2e;
  color: #9e9e9e;
  align-self: flex-start;
}

.welcome-message {
  padding: 20px;
  background-color: #2a2a2e;
  border-radius: 10px;
  margin-bottom: 20px;
  text-align: left;
  font-size: 16px;
  line-height: 1.5;
  color: #e1e1e1;
}

.welcome-message ul {
  margin-left: 20px;
  margin-top: 10px;
}